$button-primary-color-indigo: #3f51b5;
$button-primary-color-hover-indigo: #3948a0;
$general-color-white: #ffffff;
$general-color-balck: #000000;
$background-color: #dbdbdb;
$background-color-progress-bar: #c9c9c9;
$button-primary-color-red: #f15151;
