@import "../../../sass/mixins";

.container-header {
  @include flex-center(column);
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;

  .header-primary {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .header-secondary {
    font-size: 2rem;
    font-weight: 400;
  }
}
