@import "../sass/mixins";
@import "../sass/colors";

.App {
  height: 100%;
  @include flex-center(column);
  padding: 40px;
  background-color: $background-color;
}

.card {
  padding: 20px;
  gap: 20px;
  width: 400px;

  @include flex-center(column);
  justify-content: flex-start;

  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  border-radius: 10px;

  @include media-screen-mobile() {
    width: 100%;
  }
}
